@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1B4332;
  --secondary: #D4AF37;
}

body {
  margin: 0;
  background-color: #FDFBF7; /* لون الـ cream اللي إنت مختاره */
}
